* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: white;
}

/* Navbar */

nav {
    background: yellow;
    width: 100%;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.logo {
    width: 350px;
    cursor: pointer;
}
.profile-pic {
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

/* Sorting Options */

.sorting-options {
    display: flex;
    padding: 20px;
    justify-content: center;
}

#sort-select {
    padding: 10px;
    font-size: 1.3em;
    width: 200px;
    font-weight: 900;
    text-align: center;
    border: 2px solid yellow;
    cursor: pointer;
}

#sort-select option {
    font-size: 14px; 
    padding: 5px;
    text-align: center; 
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1.3em;
    width: 100%;
}

/* Search */

.search-container {
    background-color: transparent;
    width: 600px;
    margin: 10px auto 0;
    border: 3px solid black;
    position: relative;
}
.row {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
input {
    flex: 1;
    height: 40px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #333;
}
button {
    background: transparent;
    border: 0;
    outline: 0;
}
.result-bx ul {
    border-top: 1px solid #999;
    padding: 15px 10px;
}
.result-bx ul li {
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}
.result-bx ul li:hover {
    background: yellow;
}
.result-bx {
    background-color: white;
    max-height: 200px;
    overflow-y: scroll;
    position: absolute;
    width: 590px;
}
#search {
    width: 40px;
    cursor: pointer;
    transition: transform 0.5s;
}
#search:hover {
    transform: scale(1.1);
}

/* Liked button */

.like-category {
    background-color: transparent;
    margin-right: 30px;
    cursor: pointer;
}
.heart-icon {
    width: 50px;
    transition: transform 0.5s;
}
.heart-icon:hover {
    transform: scale(1.2);
}
.liked {
    display: block !important;
}
#error-handler {
    font-size: 30px;
    font-weight: 400;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 30px;
}

/* Categories */

.category-container {
    background-color: transparent;
    width: 700px;
    margin: 2px auto 0;
}
.btn-val {
    border: 2px solid black;
    padding: 1em 2.2em;
    border-radius: 3em;
    background-color: transparent;
    color: black;
    cursor: pointer;
    margin: 10px;
    font-size: 0.9em;
    transition: transform 0.5s;
    font-weight: 700;
}
.btn-val:hover {
    transform: scale(1.2);
}
.active {
    background-color: yellow;
    color: black;
}

/* Cards */

.wrapper {
    width: 70%;
    margin: 0 auto;
}
#audios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.5em;
    padding: 2em 0;
}
.card {
    position: relative;
    background-color: white;
    max-width: 18em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.emoji-container {
    text-align: center;
}
.card span {
    max-width: 100%;
    object-fit: contain;
    font-size: 10em;
    height: 15em;
}
.container {
    padding-top: 1em;
    color: #110f29;
}
.audio-name {
    font-size: 1em;
    font-weight: 1000;
    margin-left: 30px;
}
.audio-category {
    font-size: 1em;
    font-weight: 300;
    margin-left: 30px;
}
.audio-rating {
    margin-left: 30px;
}
.hide {
    display: none !important;
}
.show {
    display: block;
}
.card audio {
    width: 100%;
    margin-top: 10px;
}

.like-btn {
    position: absolute;
    top: 10px; 
    right: 10px; 
    width: 35px; 
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* Audio */

audio::-webkit-media-controls-panel {
    background-color: white;
}

/* Add button */

.add-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.add-btn button {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: yellow;
    color: black;
    font-size: 40px;
    font-weight: bold;
    border: 3px solid black;
    cursor: pointer;
}

.add-btn button:hover {
    background-color: #ffeb3b;
}

/* PopUp */
.pop-up {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.pop-up-content {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    padding-bottom: 50px;
    border: 1px solid grey;
    width: 50%;
    border-radius: 10px;
    font-weight: 700;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.pop-up-content input[type="text"] {
    width: calc(100% - 20px);
    padding: 6px;
    margin: 6px 0;
    border: 1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
}

.pop-up-content button[type="submit"] {
    background-color: yellow;
    color: black;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: 900;
    font-size: 1em;
}

.pop-up-content button[type="submit"]:hover {
    background-color: yellow;
}

/* Responsive */

@media (max-width: 768px) {
    #audios {    
        display: grid;
        grid-column-gap: 1.5em;
        padding: 2em 0;    
    }
    .wrapper {
        width: 75%;
    }
}

@media (max-width: 720px) {
    .audio-rating {
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .wrapper {
        width: 50%;
        margin: 0 auto;
    }
}

@media (max-width: 375px) {
    .wrapper {
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 320px) {
    .audio-rating {
        font-size: 13px;
    }
}
